bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/TravelLand.Database/TravelLand.Database.jfm
/TravelLand.Database/TravelLand.Database.dbmdl
/TravelLand.Database/TravelLand.Database.dbmdl
/TravelLand.Database/TravelLand.Database.dbmdl
