@attribute [Authorize]


<div class="nav shadow bg-main">
    <div class="nav-container container">
        <div class="brand-text">TravelLand</div>
        <div class="links">
            <a href="/" class="link">Головна</a>
            <a href="" class="link">Пошук турів</a>
            <a href="" class="link">Гарячі тури</a>
            <AuthorizeView Roles="Client">
                <Authorized>
                    <a href="" class="link">Особистий кабінет</a>
                </Authorized>
                <NotAuthorized>
                    <a href="Login" class="link">Регістрація/Вхід</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</div>