@page "/Registration"

<div class="animate__animated animate__fadeInUp registration-form-container">
    <EditForm Model="UserRegisterDto">
        <div class="registration-form">
            <div class="registration-field">
                <div>Username</div>
                <InputText class="registration-input" type="text" @bind-Value="UserRegisterDto.Username"/>
            </div>
            <div class="registration-field">
                <div>Password</div>
                <InputText class="registration-input" type="text" @bind-Value="UserRegisterDto.Password"/>
            </div>
            <div class="registration-field">
                <div>First name</div>
                <InputText class="registration-input" type="text" @bind-Value="UserRegisterDto.FirstName"/>
            </div>
            <div class="registration-field">
                <div>Last name</div>
                <InputText class="registration-input" type="text" @bind-Value="UserRegisterDto.LastName"/>
            </div>
            <button class="registration-button" @onclick="HandleRegister">Create account</button>
        </div>
    </EditForm>
    <div class="registration-container-footer">
        <div class="registration-back-button" @onclick="Back">Back</div>
        <div class="registration-login-button" @onclick="Login">Login</div>
    </div>
</div>