@attribute [Authorize]

<div class="nav shadow bg-main">
    <div class="nav-container container">
        <div class="brand-text">TravelLand.UI</div>
        <div class="links">
            <a href="/" class="link">Головна</a>
            <a href="Tours" class="link">Тури</a>
            <AuthorizeView Roles="Client">
                <Authorized>
                    <a href="Account" class="link">Особистий кабінет</a>
                </Authorized>
                <NotAuthorized>
                    <a href="Login" class="link">Регістрація/Вхід</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</div>