@page "/AdminPanel/Edit"

<EditForm Model="User">
        <DataAnnotationsValidator/>
        <div>Username: @_user.Username</div>
        <div>First name: @_user.FirstName</div>
        <InputText type="text" @bind-Value="_user.FirstName"/>
        <div>Last name: @_user.LastName</div>
        <InputText type="text" @bind-Value="_user.LastName"/>
        <button class="edit-button success-button" @onclick="Save">Save</button>
</EditForm>


