<EditForm Model="Tour">
    <DataAnnotationsValidator/>
    <div>Tour Name:</div>
    <InputText class="edit-input-tour" type="text" @bind-Value="_tour.Name"/>
    <div>Price:</div>
    <InputNumber class="edit-input-tour" type="number" step="1" min="0" @bind-Value="_tour.Price"/>
    <div>Country:</div>
    <InputText class="edit-input-tour" type="text" @bind-Value="_tour.Country"/>
    <div>Town:</div>
    <InputText class="edit-input-tour" type="text" @bind-Value="_tour.Town"/>
    <div>Person count:</div>
    <InputNumber class="edit-input-tour" type="number" step="1" min="0" @bind-Value="_tour.PersonCount"/>
    <div>Start day:</div>
    <InputDate class="edit-input-tour" @bind-Value="_tour.StartDate"/>
    <div>End day:</div>
    <InputDate class="edit-input-tour" @bind-Value="_tour.EndDate"/>
    <div>Description:</div>
    <InputTextArea class="input-area" type="text" @bind-Value="_tour.Description"/>
    <button class="edit-button success-button" @onclick="Save">Save</button>
    <InputFile OnChange="@LoadImage" accept="image/jpeg,image/png,image/jpg"/>
</EditForm>