@if (_navigationManager.ToBaseRelativePath(_navigationManager.Uri) == "Payment")
{
    <div style="height: 300px; width:300px; display: flex; justify-content: center; align-items: center; color: #009900">
        Дякуємо за покупку !
    </div>      
}
else
{
    <div style="height: 300px; width:300px; display: flex; justify-content: center; align-items: center; color: #01ace3;">
        Додано до списку бажаного
    </div>
}

